Package: xorgproto
Architecture: all
Installed-Size: 1936
Maintainer: Leonid Pliushch <leonid.pliushch@gmail.com>
Version: 2020.1-1
Homepage: https://xorg.freedesktop.org/
Depends: xorg-util-macros
Conflicts: x11-proto
Replaces: x11-proto
Description: X.Org X11 Protocol headers
