Package: libxss
Architecture: aarch64
Installed-Size: 144
Maintainer: Leonid Pliushch <leonid.pliushch@gmail.com>
Version: 1.2.3-12
Homepage: https://xorg.freedesktop.org/
Depends: libx11, libxau, libxcb, libxdmcp, libxext
Description: X11 Screen Saver extension library
